{% extends "_base.html" %}
{% block content %}

<h1>Welcome to FlaskTaskr.</h1>
<h3>Please log in to access your task list.</h3>

<form action="/" method="post">
  <div class="input-group">
    <label for="name">Username:</label>
    <input type="text" id="username" name="username" value="{{
      request.form.username }}">
  </div>
  <div class="input-group">
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" value="{{
      request.form.password }}"
  </div>
  <div>
    <button type="submit">Log In</button>
  </div>
</form>

<p><em>Use admin/b2tm2n as the username/password.</em></p>

{% endblock %}
